body {
    background-color: #000004;
    color: rgba(255,255,255,0.85);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    font-weight: 200;
}

.texto-especial {

    letter-spacing: 0.01em;

    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.destaque {
    font-weight: 700;

}

.barra {
    border-right: 2px solid white;
}

.fundo {
    border-radius: 10px;
    background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101D 91.61%);
}


@media(max-width: 768px) {
    .barra {
        border-right: 0px solid white;
    }
}

.btn-primary {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    color: #00040f;
}

.bio {
    display:flex;
    align-content: space-between;
}

.depoimento:hover {
    border-radius: 10px;
    background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101D 91.61%);
    
}

.discount {
    max-width: max-content;
    background: linear-gradient(125.17deg, #272727 0%, #11101D 100%);
    border-radius: 10px;
}

.clients {
    max-width: 60%;
    align-items: center;
    vertical-align: middle;
}

.menu-footer {
    
    list-style: none;
}

.clients:hover {
    max-width: 70%;
    transition-duration: 0.3s;
}